body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    background-size: contain;
}

#particles-js {
    background-image: url("space.jpeg");
    background-size: center;
}

.form-container {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px #0000001a;
    text-align: center;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
    border-color: #007BFF;
    box-shadow: inset 0 2px 6px rgba(0, 123, 255, 0.2);
    outline: none;
}

button, [type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button, input[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button, input[type="submit"]:active {
    background-color: #003f7f;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    display: none;
    width: 40%;
    height: 60%;
    background-color: rgb(220, 221, 221);
    position: absolute;
    top: 20%;
    left: 30%;
    border-radius: 10px;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f8f8;
    font-weight: bold;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    font-size: 1.1em;
    color: #555;
}

button {
    position: absolute;
    top: 4%;
    left: 86%;
}